body {
    padding-top: 50px;
}

.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}

    .sidebar .sidebar-nav > a {
        padding-right: 20px;
        padding-left: 20px;
    }

    .sidebar .sidebar-header {
        padding: 10px;
        border-bottom: solid;
        border-bottom-width: 1px;
        border-bottom-color: #a0a0ff;
        background-color: #c0c0ff
    }

.main-body-container {
    padding: 20px;
}

.static-footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

/* apple colors */
[class*='-dark'] {
	background-color:#02243C;
    color:#f0f0f0;
}
[class*='-light'] {
	background-color:#f9f9f9;
    color:#999;
}
[class*='-blue'] {
	background-color:#5195ce;
    color:#fff;
}
[class*='-apple'] {
	background-color:#005DB3;
    color:#f8f8f8;
}
[class*='-gray'] {
	background-color:#e6e6e6;
    color:#666;
}
[class*='-green'] {
	background-color:#5BC236;
    color:#fff;
}

[class*='-red'] {
	background-color:red;
    color:#fff;
}
/* hover and active */
[class*='-dark']:hover,[class*='-dark']:focus {
	background-color:#12254d;
    color:#fff;
}
[class*='-light']:hover,[class*='-light']:active {
	background-color:#eeeeee;
    color:#fff;
}
[class*='-blue']:hover,[class*='-blue']:active {
	background-color:#62a6df;
    color:#fff;
}
[class*='-apple']:hover,[class*='-apple']:active {
	background-color:#116ec4;
    color:#fff;
}
[class*='-gray']:hover,[class*='-gray']:active {
	background-color:#d5d5d5;
    color:#fff;
}
[class*='-green']:hover,[class*='-green']:active {
	background-color:#6cd347;
    color:#fff;
}
[class*='-red']:hover,[class*='-red']:active {
	background-color:tomato;
    color:#fff;
}



#login-form {
    margin-top: 5px;
}

#login-form input {
     width: 110px;
}

 .login-image{
     background:url(img/background.png);
     width:100%;
     min-height:1064px;
     background-size:cover;
     position:absolute;
     left:0;
     top:0;
 }

 .login{
    left: 30%;
    position: absolute;
    top: 80px;
    width: 40%;
    z-index: 1;
    text-align:center;
 }


  .login fieldset{
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
    border:10px solid rgba(239, 117, 6, 0.5);
    padding:50px 30px;
    margin-top:50px;
 }

 .login .form-group{
      width:100%;
      padding:10px;
      margin:5px 0;
  }

#login-form .login .form-group input{
   width:100%;
   border:2px solid #EF7506;
}

#login-form .login .form-group label{
  text-align: right;
  font-size:18px;
  font-weight:700;
  color:#999;
}

#login-form .login .btn {
   margin:20px 0px 5px -10px;
   font-weight:700;
}
