@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My Tunes</h1>
    <p class="lead">MyTunes es lo ultimo en libreria de personalizada de musica en internet se trata, crea tu cuenta y vive la experiencia</p>
</div>

