<div ng-controller="playListController">
    <h2>{{titulo}}</h2>
    <p>
        @Html.ActionLink("Nuevo", "Create")
    </p>
    <table class="table">
        <tr>
            <th>Nombre</th>
            <th>Calificación</th>
            <th></th>
        </tr>
        <tr ng-repeat="item in canciones"> 
            <td>{{item.Nombre}}</td>
            <td>
                {{item.Calificacion}}
            </td>
            <td>
                <div class="btn-group">
                    <button title="Acción" class="btn dropdown-toggle btn-xs" data-toggle="dropdown">
                        <span><i class="glyphicon glyphicon-cog"></i><span class="caret"></span> </span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            @*<a href=@Url.Action("Edit", "Playlist", new { id = item.Id })><i class="glyphicon glyphicon-edit"></i>&nbsp;Editar</a>*@
                        </li>
                        <li>
                            @*<a href=@Url.Action("Detail", "Playlist", new { id = item.Id })><i class="glyphicon glyphicon-pencil"></i>&nbsp;Ver</a>*@
                        </li>
                        <li>
                            @*<a href=@Url.Action("Delete", "Playlist", new { id = item.Id })><i class="glyphicon glyphicon-eye-open"></i>&nbsp;Eliminar</a>*@
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    </table>
</div>