@model MyTunes.Models.PlaylistSearchTrackViewModel

<h2>AddTrack to @Model.FormTitle</h2>

@using (Ajax.BeginForm("GetTrackList", "Playlist", new AjaxOptions
{
    HttpMethod = "Get",
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "TracklistContainer"

}, new
{
    id = "SearchTrackForm",
    @class = "form-horizontal"
}))
{
    @Html.HiddenFor(m => m.PlayListId)
    @Html.HiddenFor(m => m.FormTitle)
    <div class="form-group">
        <div class="col-md-3">
            <div class="input-group">
                @Html.TextBoxFor(m => m.TrackName, new { @class = "form-control", placeholder = "Track Name" })
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-warning">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>
}
<div id="TracklistContainer"></div>

